#title {
  margin-bottom: 0px;
}

#subtitle {
  margin-top: 0px;
}

#container {
  text-align: center;
}

#msg-input, #msg-response {
  font-weight: 300;
  font-size: small;
  color: #fbfbfb;
  font-family: Cursive;

}

#msg-send {
  font-weight: 300;
  font-size: small;

}

#msg-input {
  width: 80%;
  height: 30px;

}

#msg-send {
  height: 33px;
}

#msg-response {
  border: black solid 1px;
  color: hsl(300, 12%, 97%);
  background: hsl(244, 22%, 28%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 8rem;
  margin-right: 7.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}